<li>
	{{!-- {{burger_name}} --}}

	<button class="devour btn btn-sm rounded mx-3"  data-id="{{id}}" data-status="{{status}}">
		{{burger_name}}
	</button>
	{{!-- <button class="delete-burger btn btn-sm rounded" data-id="{{this.id}}">Delete!</button> --}}
</li>
